<h3>All Books</h3>

  <ul>
  <% @books.each do |book| %>
      <li><%= link_to book.title, book_path(book) %>, <%= "#{book.title} (#{book.author}) (#{book.year})" %></li>
  <% end %>
  </ul>

  <%= link_to "Add New book", new_book_path, :class => "button"  %>
